/* General style */

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(0, 0%, 98%);
  margin: 0;
  padding: 0;
}

header {
  background-color: hsl(0, 0%, 100%);
}

h1 {
  margin: 0;
}

.remove-deco {
  text-decoration: none;
  color: hsl(200, 15%, 8%);
}

/* General style end */

/* Dark mode content */

.dark-content {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.dark-content .remove-deco {
  color: hsl(0, 0%, 100%);
}

.dark-content-header {
  background-color: hsl(209, 23%, 22%);
}

.dark-content-header img {
  filter: sepia(100%) invert(100%);
}

/* Dark mode content end */

/* Navbar content */

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3% 6%;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

#header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#header div:hover {
  cursor: pointer;
}

#header img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

#header p {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
}

@media (max-width: 550px) {
  #header {
    padding: 3% 3%;
  }

  h1 {
    font-size: 14px;
  }

  #header img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }

  #header p {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

/* Navbar content end */
