/* General style */

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(0, 0%, 98%);
  margin: 0;
  padding: 0;
}

header {
  background-color: hsl(0, 0%, 100%);
}

h1 {
  margin: 0;
  font-size: 22px;
}

button:hover,
.mouse-hover:hover {
  cursor: pointer;
}

.remove-deco {
  text-decoration: none;
  color: hsl(200, 15%, 8%);
}

label img {
  filter: invert(52%);
}

/* General style end */

/* Dark mode content */

.dark-content {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.dark-content label {
  background-color: hsl(209, 23%, 22%);
}

.dark-content label input {
  background-color: hsl(209, 23%, 22%);
}

.dark-content label img {
  filter: invert(100%);
}

.dark-content label input::placeholder {
  color: hsl(0, 0%, 100%);
}

.dark-content .remove-deco {
  color: hsl(0, 0%, 100%);
}

.dark-content-header {
  background-color: hsl(209, 23%, 22%);
}

.dark-content-header img {
  filter: invert(100%);
}

.dark-content button {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.dark-content button img {
  filter: invert(100%);
}

.dark-content .drop-down button {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.dark-content .drop-down button img {
  filter: invert(100%);
}

.dark-content .drop-down-content {
  background-color: hsl(209, 23%, 22%);
}

.dark-content .country-card {
  background-color: hsl(209, 23%, 22%);
}

/* Dark mode content end */

/* Navbar content */

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 5%;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

#header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header div:hover {
  cursor: pointer;
}

#header img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

#header p {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
}

@media (max-width: 550px) {
  #header {
    padding: 3% 3%;
  }

  h1 {
    font-size: 14px;
  }

  #header img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }

  #header p {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

/* Navbar content end */

/* Home content */

/* Dropdown and Input control */

span {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3% 3% 2% 5%;
}

/* Input field */

label {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 450px;
  padding: 15px 0px 15px 30px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.05);
  margin-top: 4px;
}

span label img {
  width: 15px;
  height: 15px;
  margin-right: 25px;
}

input {
  border: none;
  width: 300px;
}

input:focus {
  outline: none;
}

/* Input field end */

/* Dropdown */

.drop-down button {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  border: none;
  padding: 3px 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 4px;
  margin-top: 0;
}

.drop-down button p {
  font-size: 14px;
}

span img {
  width: 9px;
}

.drop-down {
  position: relative;
  display: inline-block;
}

.drop-down-content {
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.05);
  width: 140px;
  padding: 14px 20px;
  font-weight: 300;
  line-height: 160%;
}

/* Dropdown end */

@media (max-width: 650px) {
  /* Dropdown and Input control */

  span {
    flex-direction: column;
    align-items: flex-start;
    padding: 5% 5%;
  }

  /* Input field */

  label {
    width: 300px;
    margin-bottom: 30px;
  }

  input {
    width: 200px;
  }

  /* Input field end */

  /* Dropdown */

  .drop-down button {
    margin-left: -20px;
  }

  .drop-down-content {
    margin-left: -20px;
  }

  /* Dropdown end */
}

/* Grid */

.country-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 70px 50px;
  margin: 0px 5%;
  max-width: 1600px;
}

/* Gridcard */

.country-card {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  padding-bottom: 40px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.country-card img {
  overflow: hidden;
  width: 280px;
  object-fit: cover;
  aspect-ratio: 3.3/2;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.country-card h2 {
  font-size: 18px;
  margin: 30px 30px 15px 30px;
}

.country-card h4 {
  font-weight: 300;
  font-size: 14px;
  margin: 0 0 5px 30px;
}

.country-card h4 b {
  font-weight: 800;
}

/* Gridcard end */
@media (max-width: 375px) {
  .country-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1400px) {
  .country-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .country-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .country-grid {
    grid-template-columns: repeat(1, 1fr);
    margin: 0px 12%;
  }
}
/* Grid end */

/* Home content end */

/* Detail content */

/* Button and detail layout */

.detail {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.back-button {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 70px 0 70px 0;
  background-color: hsl(0, 0%, 100%);
  padding: 10px 40px;
}

.back-button img {
  padding: 0 10px 0 0;
  width: 20px;
  height: 20px;
}

/* Detail body content and positioning */

.detail-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.detail-body img {
  width: 600px;
  aspect-ratio: 3/2;
}

.detail-body-text {
  padding: 4% 0 0 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.detail-body-control {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-detail-text {
  margin: 0 80px 0 0;
}

.main-detail-text h5,
.side-detail-text h5 {
  font-weight: 300;
  margin: 0 0 12px 0;
}

.main-detail-text h2 {
  margin: 0 0 30px 0;
}

.side-detail-text {
  margin: 0 0 0 100px;
}

.border-countries {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.border-countries h5 {
  margin-top: 35px;
}

.border-countries b {
  margin-right: 15px;
}

.border-button-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 600px;
}
.border-button {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  margin-top: 10px;
  background-color: hsl(0, 0%, 100%);
  min-width: 100px;
  min-height: 30px;
}

@media (max-width: 1100px) {
  .detail-body {
    flex-direction: column;
  }

  .detail-body-text {
    padding: 4% 0 0 2%;
  }
}

@media (max-width: 650px) {
  .detail {
    margin-left: 7%;
  }

  .back-button {
    margin: 40px 0 70px 0;
  }

  .detail-body img {
    width: 320px;
  }

  .detail-body-control {
    flex-direction: column;
    align-items: flex-start;
  }

  .main-detail-text {
    margin-top: 30px;
  }

  .side-detail-text {
    margin: 30px 0 0 0;
  }

  .detail-body b {
    font-weight: 600;
  }

  .border-countries {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }

  .border-button-bar {
    margin-bottom: 60px;
  }
}

/* Detail content end */
